---
title: Home
---

.hero-unit
  %h1 Reading Pāḷi Exercises
  %p
    These are translations of the reading exercises in
    <a href="http://www.amazon.com/New-Course-Reading-Pali-Entering/dp/812081441X">A New Course in Reading Pāḷi</a>
    that I'm working on as a way of learning Pāli.

%h3 Links
%ul
  %li= link_to "Audio Pāḷi Class by Bhikkhu Bodhi", "http://bodhimonastery.org/a-course-in-the-pali-language.html"
  %li= link_to "Another Translation of Reading Pāḷi Exercises", "http://www.tipitaka.net/pali/pali.php?palidd=b01&code=unicode"
  %li= link_to "Online Pāḷi Dictionaries", "http://www.multilingualbooks.com/onlinedicts-pali.html"
  %li= link_to "Pāli - English Translation Tool", "http://theravada.org/translate/"
  %li= link_to "Pāli - English Dictionary", "http://www.viet.net/anson/ebud/dict-pe/index.htm"

%h3 Special Characters

ā ī ū ḷ ṃ ṇ ṭ ñ
