---
title: Home
---

%ul
  %li
    = link_to 'Lesson 1', '/1/'
    %ul
      %li= link_to 'Reading 1', '/1/#r1'
      %li= link_to 'Reading 2', '/1/#r2'
      %li= link_to 'Reading 3', '/1/#r3'
      %li= link_to 'Reading 4', '/1/#r4'
      %li= link_to 'Further Reading 1', '/1/#fr1'
      %li= link_to 'Further Reading 2', '/1/#fr2'

%h2 Links
%ul
  %li= link_to "Online Pāli Dictionaries", "http://www.multilingualbooks.com/onlinedicts-pali.html"
  %li= link_to "Pāli - English Translation Tool", "http://theravada.org/translate/"
  %li= link_to "Pāli - English Dictionary", "http://www.viet.net/anson/ebud/dict-pe/index.htm"